<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YRC - Homepage</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
    <link rel="stylesheet" href="styles/uikit.min.css">
    <link rel="stylesheet" href="styles/site.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/uikit.min.js"></script>
  </head>
  <body>
    <nav class="uk-navbar uk-margin-small-bottom extra-white">
      <div class="uk-container">
        <a class="uk-navbar-brand uk-hidden-small navbar" href="layouts_frontpage.html">YRC - Homepage</a>
        <ul class="uk-navbar-nav uk-hidden-small navbar">
          <li class=" uk-text-middle navbar">
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/members">Members</a>
          </li>
        </ul>
        <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
        <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Homepage</div>
      </div>
    </nav>
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    {{{body}}}
    </div>
    <div id="offcanvas" class="uk-offcanvas">
      <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas">
          <li class="uk-active">
            <a href="layouts_frontpage.html">Home</a>
          </li>
          <li>
            <a href="layouts_portfolio.html">Members</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>