<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/components/accordion.almost-flat.css">
    <link rel="stylesheet" href="/styles/components/accordion.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/components/accordion.css">
    <link rel="stylesheet" href="/styles/components/accordion.gradient.css">
    <link rel="stylesheet" href="/styles/components/accordion.gradient.min.css">
    <link rel="stylesheet" href="/styles/components/accordion.min.css">
    <link rel="stylesheet" href="/styles/components/autocomplete.almost-flat.css">
    <link rel="stylesheet" href="/styles/components/autocomplete.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/components/autocomplete.css">
    <link rel="stylesheet" href="/styles/components/autocomplete.gradient.css">
    <link rel="stylesheet" href="/styles/components/autocomplete.gradient.min.css">
    <link rel="stylesheet" href="/styles/components/autocomplete.min.css">
    <link rel="stylesheet" href="/styles/components/datepicker.almost-flat.css">
    <link rel="stylesheet" href="/styles/components/datepicker.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/components/datepicker.css">
    <link rel="stylesheet" href="/styles/components/datepicker.gradient.css">
    <link rel="stylesheet" href="/styles/components/datepicker.gradient.min.css">
    <link rel="stylesheet" href="/styles/components/datepicker.min.css">
    <link rel="stylesheet" href="/styles/components/dotnav.almost-flat.css">
    <link rel="stylesheet" href="/styles/components/dotnav.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/components/dotnav.css">
    <link rel="stylesheet" href="/styles/components/dotnav.gradient.css">
    <link rel="stylesheet" href="/styles/components/dotnav.gradient.min.css">
    <link rel="stylesheet" href="/styles/components/dotnav.min.css">
    <link rel="stylesheet" href="/styles/components/form-advanced.almost-flat.css">
    <link rel="stylesheet" href="/styles/components/form-advanced.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/components/form-advanced.css">
    <link rel="stylesheet" href="/styles/components/form-advanced.gradient.css">
    <link rel="stylesheet" href="/styles/components/form-advanced.gradient.min.css">
    <link rel="stylesheet" href="/styles/components/form-advanced.min.css">
    <link rel="stylesheet" href="/styles/components/form-file.almost-flat.css">
    <link rel="stylesheet" href="/styles/components/form-file.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/components/form-file.css">
    <link rel="stylesheet" href="/styles/components/form-file.gradient.css">
    <link rel="stylesheet" href="/styles/components/form-file.gradient.min.css">
    <link rel="stylesheet" href="/styles/components/form-file.min.css">
    <link rel="stylesheet" href="/styles/components/form-password.almost-flat.css">
    <link rel="stylesheet" href="/styles/components/form-password.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/components/form-password.css">
    <link rel="stylesheet" href="/styles/components/form-password.gradient.css">
    <link rel="stylesheet" href="/styles/components/form-password.gradient.min.css">
    <link rel="stylesheet" href="/styles/components/form-password.min.css">
    <link rel="stylesheet" href="/styles/components/form-select.almost-flat.css">
    <link rel="stylesheet" href="/styles/components/form-select.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/components/form-select.css">
    <link rel="stylesheet" href="/styles/components/form-select.gradient.css">
    <link rel="stylesheet" href="/styles/components/form-select.gradient.min.css">
    <link rel="stylesheet" href="/styles/components/form-select.min.css">
    <link rel="stylesheet" href="/styles/components/htmleditor.almost-flat.css">
    <link rel="stylesheet" href="/styles/components/htmleditor.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/components/htmleditor.css">
    <link rel="stylesheet" href="/styles/components/htmleditor.gradient.css">
    <link rel="stylesheet" href="/styles/components/htmleditor.gradient.min.css">
    <link rel="stylesheet" href="/styles/components/htmleditor.min.css">
    <link rel="stylesheet" href="/styles/components/nestable.almost-flat.css">
    <link rel="stylesheet" href="/styles/components/nestable.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/components/nestable.css">
    <link rel="stylesheet" href="/styles/components/nestable.gradient.css">
    <link rel="stylesheet" href="/styles/components/nestable.gradient.min.css">
    <link rel="stylesheet" href="/styles/components/nestable.min.css">
    <link rel="stylesheet" href="/styles/components/notify.almost-flat.css">
    <link rel="stylesheet" href="/styles/components/notify.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/components/notify.css">
    <link rel="stylesheet" href="/styles/components/notify.gradient.css">
    <link rel="stylesheet" href="/styles/components/notify.gradient.min.css">
    <link rel="stylesheet" href="/styles/components/notify.min.css">
    <link rel="stylesheet" href="/styles/components/placeholder.almost-flat.css">
    <link rel="stylesheet" href="/styles/components/placeholder.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/components/placeholder.css">
    <link rel="stylesheet" href="/styles/components/placeholder.gradient.css">
    <link rel="stylesheet" href="/styles/components/placeholder.gradient.min.css">
    <link rel="stylesheet" href="/styles/components/placeholder.min.css">
    <link rel="stylesheet" href="/styles/components/progress.almost-flat.css">
    <link rel="stylesheet" href="/styles/components/progress.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/components/progress.css">
    <link rel="stylesheet" href="/styles/components/progress.gradient.css">
    <link rel="stylesheet" href="/styles/components/progress.gradient.min.css">
    <link rel="stylesheet" href="/styles/components/progress.min.css">
    <link rel="stylesheet" href="/styles/components/search.almost-flat.css">
    <link rel="stylesheet" href="/styles/components/search.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/components/search.css">
    <link rel="stylesheet" href="/styles/components/search.gradient.css">
    <link rel="stylesheet" href="/styles/components/search.gradient.min.css">
    <link rel="stylesheet" href="/styles/components/search.min.css">
    <link rel="stylesheet" href="/styles/components/slidenav.almost-flat.css">
    <link rel="stylesheet" href="/styles/components/slidenav.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/components/slidenav.css">
    <link rel="stylesheet" href="/styles/components/slidenav.gradient.css">
    <link rel="stylesheet" href="/styles/components/slidenav.gradient.min.css">
    <link rel="stylesheet" href="/styles/components/slidenav.min.css">
    <link rel="stylesheet" href="/styles/components/slideshow.almost-flat.css">
    <link rel="stylesheet" href="/styles/components/slideshow.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/components/slideshow.css">
    <link rel="stylesheet" href="/styles/components/slideshow.gradient.css">
    <link rel="stylesheet" href="/styles/components/slideshow.gradient.min.css">
    <link rel="stylesheet" href="/styles/components/slideshow.min.css">
    <link rel="stylesheet" href="/styles/components/sortable.almost-flat.css">
    <link rel="stylesheet" href="/styles/components/sortable.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/components/sortable.css">
    <link rel="stylesheet" href="/styles/components/sortable.gradient.css">
    <link rel="stylesheet" href="/styles/components/sortable.gradient.min.css">
    <link rel="stylesheet" href="/styles/components/sortable.min.css">
    <link rel="stylesheet" href="/styles/components/sticky.almost-flat.css">
    <link rel="stylesheet" href="/styles/components/sticky.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/components/sticky.css">
    <link rel="stylesheet" href="/styles/components/sticky.gradient.css">
    <link rel="stylesheet" href="/styles/components/sticky.gradient.min.css">
    <link rel="stylesheet" href="/styles/components/sticky.min.css">
    <link rel="stylesheet" href="/styles/components/tooltip.almost-flat.css">
    <link rel="stylesheet" href="/styles/components/tooltip.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/components/tooltip.css">
    <link rel="stylesheet" href="/styles/components/tooltip.gradient.css">
    <link rel="stylesheet" href="/styles/components/tooltip.gradient.min.css">
    <link rel="stylesheet" href="/styles/components/tooltip.min.css">
    <link rel="stylesheet" href="/styles/components/upload.almost-flat.css">
    <link rel="stylesheet" href="/styles/components/upload.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/components/upload.css">
    <link rel="stylesheet" href="/styles/components/upload.gradient.css">
    <link rel="stylesheet" href="/styles/components/upload.gradient.min.css">
    <link rel="stylesheet" href="/styles/components/upload.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/site.css">
    <link rel="stylesheet" href="/styles/uikit.almost-flat.css">
    <link rel="stylesheet" href="/styles/uikit.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/uikit.css">
    <link rel="stylesheet" href="/styles/uikit.gradient.css">
    <link rel="stylesheet" href="/styles/uikit.gradient.min.css">
    <link rel="stylesheet" href="/styles/uikit.min.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/components/accordion.js"></script>
    <script src="/js/components/accordion.min.js"></script>
    <script src="/js/components/autocomplete.js"></script>
    <script src="/js/components/autocomplete.min.js"></script>
    <script src="/js/components/datepicker.js"></script>
    <script src="/js/components/datepicker.min.js"></script>
    <script src="/js/components/form-password.js"></script>
    <script src="/js/components/form-password.min.js"></script>
    <script src="/js/components/form-select.js"></script>
    <script src="/js/components/form-select.min.js"></script>
    <script src="/js/components/grid.js"></script>
    <script src="/js/components/grid.min.js"></script>
    <script src="/js/components/htmleditor.js"></script>
    <script src="/js/components/htmleditor.min.js"></script>
    <script src="/js/components/lightbox.js"></script>
    <script src="/js/components/lightbox.min.js"></script>
    <script src="/js/components/nestable.js"></script>
    <script src="/js/components/nestable.min.js"></script>
    <script src="/js/components/notify.js"></script>
    <script src="/js/components/notify.min.js"></script>
    <script src="/js/components/pagination.js"></script>
    <script src="/js/components/pagination.min.js"></script>
    <script src="/js/components/search.js"></script>
    <script src="/js/components/search.min.js"></script>
    <script src="/js/components/slideshow-fx.js"></script>
    <script src="/js/components/slideshow-fx.min.js"></script>
    <script src="/js/components/slideshow.js"></script>
    <script src="/js/components/slideshow.min.js"></script>
    <script src="/js/components/sortable.js"></script>
    <script src="/js/components/sortable.min.js"></script>
    <script src="/js/components/sticky.js"></script>
    <script src="/js/components/sticky.min.js"></script>
    <script src="/js/components/timepicker.js"></script>
    <script src="/js/components/timepicker.min.js"></script>
    <script src="/js/components/tooltip.js"></script>
    <script src="/js/components/tooltip.min.js"></script>
    <script src="/js/components/upload.js"></script>
    <script src="/js/components/upload.min.js"></script>
    <script src="/js/core/alert.js"></script>
    <script src="/js/core/alert.min.js"></script>
    <script src="/js/core/button.js"></script>
    <script src="/js/core/button.min.js"></script>
    <script src="/js/core/core.js"></script>
    <script src="/js/core/core.min.js"></script>
    <script src="/js/core/cover.js"></script>
    <script src="/js/core/cover.min.js"></script>
    <script src="/js/core/dropdown.js"></script>
    <script src="/js/core/dropdown.min.js"></script>
    <script src="/js/core/grid.js"></script>
    <script src="/js/core/grid.min.js"></script>
    <script src="/js/core/modal.js"></script>
    <script src="/js/core/modal.min.js"></script>
    <script src="/js/core/nav.js"></script>
    <script src="/js/core/nav.min.js"></script>
    <script src="/js/core/offcanvas.js"></script>
    <script src="/js/core/offcanvas.min.js"></script>
    <script src="/js/core/scrollspy.js"></script>
    <script src="/js/core/scrollspy.min.js"></script>
    <script src="/js/core/smooth-scroll.js"></script>
    <script src="/js/core/smooth-scroll.min.js"></script>
    <script src="/js/core/switcher.js"></script>
    <script src="/js/core/switcher.min.js"></script>
    <script src="/js/core/tab.js"></script>
    <script src="/js/core/tab.min.js"></script>
    <script src="/js/core/toggle.js"></script>
    <script src="/js/core/toggle.min.js"></script>
    <script src="/js/core/touch.js"></script>
    <script src="/js/core/touch.min.js"></script>
    <script src="/js/core/utility.js"></script>
    <script src="/js/core/utility.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/uikit.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
